
<div class="row spacer ">
  <div class="col-1"></div>
  <div class="col-md-10" style="max-height: 82vh">


       <div class="col-sm-6">
          <p class="col-form-label">Rechercher pour mettre à jour la DFBM</p>
       </div>
    <div class="col-sm-12">
    <form (ngSubmit)="getAllDocsEventTypeBeforeDate(since)">
    <div class="row form-group">
       <div class="col-sm-4">
          <input type="datetime-local" class="form-control" name="since" [(ngModel)]="since">
       </div>
      <button class="btn btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
    </div>
    </form>

  </div>
    <div class="col-sm-2">
      <button (click)="update()" type="button" style="height: 50px; width: 160px !important; margin-bottom: 10px;" class="btn btn-outline-info">Mis à jour DFBM</button>
    </div>

      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td scope="col">
            <div style="display: inline list-item;">
              <input class="form-check-input" style="margin-left: 4px;" (change)="onCheckboxChange($event, 'all')"
                     type="checkbox">
            </div>
          </td>
          <td scope="col">Id document</td>
          <td scope="col">Date de l'archivage</td>
          <td scope="col">Type de l'evenement</td>
          <td scope="col">Code nature de classification</td>
        </tr>
        </thead>
        <tbody *ngIf="documents">
        <tr *ngFor="let d of documents | slice: (page-1) * size : (page-1) * size + size;">
          <td scope="col">
            <form>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input selectedAll" (change)="onCheckboxChange($event, d.document_id)"
                         type="checkbox">
                </div>
              </div>
            </form>

          </td>
          <td scope="row">{{d.document_id}}</td>
          <td> {{d.archiving_reference_date}} </td>
          <td>{{d.event_type}}</td>
          <td>{{d.classification_nature_code}}</td>
        </tr>
        </tbody>
      </table>


      <div class="d-flex justify-content-between p-2" *ngIf="documents">
        <ngb-pagination [collectionSize]="documents.length" [(page)]="page" [maxSize]="size" [pageSize]="size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" >
        </ngb-pagination>
      </div>
    </div>
  </div>


