.btn-side {
  min-width: 100%;
  margin: auto;
  margin-bottom: 5px;

}

.btn-side a {
  float: left;
}
.dropdown-menu a
{
  font-size: .80rem !important;
 

}
.btn-side a:hover, a:hover {
  text-decoration: none;
}

.btn-side:hover {
}

.dropdown-toggle::after {
  float: right;
}

.dropdown-menu, .ddm {
  position: relative !important;
  transform: translate(0px, 0px) !important;
  padding: 0rem 0;
  margin: .080rem .160rem .080rem ;
  border-radius: .002rem;
  min-width: 100% !important;
  
}

.dropdown-item {

}
.dropdown-item a{
  color: #333229 !important;

}

.btn-light:not(:disabled):not(.disabled).active {
  background-color: #dee6f9;
}
#sidebar {}
